$gray-100: #f8f9fa; //light
$gray-400: #CED4DA; //$border-color
$gray-600: #6C757D; //secondary
$gray-900: #212529; //dark

$color-primary: #198754;

$color-black: #000;
$color-white: #fff;

$font-base: 16px;