.sidebar {
  flex: 0 0 18.5rem;

  &__menu {
    padding: 2rem;
    margin-left: -2rem;
  }

  &__item {
    padding-left: 2rem;
    position: relative;

    span {
      vertical-align: bottom;
    }

    &:hover,
    &.active {
      & a:any-link {
        color: $color-primary;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 0.5rem;
        height: 2rem;
        border-left: 4px solid $color-primary;
      }
    }
  }

  &__author {
    &-img {
      background: url('../../assets/images/andychen.jpeg') center / cover;
      min-width: 2.5rem;
      height: 2.5rem;
    }
  }
}