.sidebar {
  flex: 0 0 18.5rem;
  padding: 2rem;

  &__item {
    height: 2rem;
    position: relative;

    span {
      vertical-align: bottom;
    }

    & a::after {
      content: '';
      width: 0%;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      height: 2px;
      background: $color-primary;
      transition-property: width;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }

    &:hover,
    &.active {
      & a:any-link {
        color: $color-primary;
      }

      & a::after {
        width: 85%;
      }
    }

  }

  &__author {
    &-img {
      background: url('../../assets/images/andychen.jpeg') center / cover;
      min-width: 2.5rem;
      height: 2.5rem;
    }
  }
}