.qaPart {
  &__collection {
    max-width: 20rem;
    width: 100%;
  }

  &__details {
    max-width: 36.5rem;
    width: 100%;
  }

  &__caption {
    a:hover {
      @include hoverStyle($color-primary, 1.5);
    }
  }

  &__icons {
    & a:hover {
      @include hoverStyle($color-primary, 1.5);
    }
  }

  // Student & Teacher
  &__student,
  &__teacher {

    &-imgS,
    &-imgT {
      min-width: 2.5rem;
      height: 2.5rem;
    }

    &-content {
      font-size: 0.875rem; //14px
    }
  }

  // Student Part
  &__student {
    &-imgS {
      background: url('../../assets/images/emilywang.jpeg') center / cover;
    }

    &-file {
      &:hover {
        box-shadow: 2px 4px 8px $gray-600;
      }
    }
  }

  // Teacher Part
  &__teacher {
    &-imgT {
      background: url('../../assets/images/andychen.jpeg') center/ cover;
    }

    &-comment {
      & li {
        text-indent: 1rem;
      }
    }
  }

  // reply.html
  &__replyEdit {
    height: 3.5rem;
    line-height: 3.5rem;

    &-style {
      li {
        & a:hover {
          @include hoverStyle($color-primary, 1.5);
        }
      }
    }

    &-content {
      height: 16.4375rem;
    }
  }
}

.next {
  &__arrows {
    li {
      & a:hover {
        @include hoverStyle($color-primary, 1.5);
      }
    }
  }
}